// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.game-item {
  height: 150px;
  font-size: 19px;
  font-family: 'Plain-Black';
  color: #001011;
  margin-top: 32px;
  transition: 0.3s;
}

.game-item.color-1 {
  // background-color: #90C2E7;
  box-shadow: 8px 8px 0px #90C2E7;
}

.game-item.color-1:hover {
  box-shadow: 12px 12px 0px #90C2E7;
}

.game-item.color-2 {
  box-shadow: 8px 8px 0px #F61067;
}

.game-item.color-2:hover {
  box-shadow: 12px 12px 0px #F61067;
}

.game-item.color-3 {
  box-shadow: 8px 8px 0px #4B33FF;
}

.game-item.color-3:hover {
  box-shadow: 12px 12px 0px #4B33FF;
}

.game-item.color-4 {
  box-shadow: 8px 8px 0px #64F58D;
}

.game-item.color-4:hover {
  box-shadow: 12px 12px 0px #64F58D;
}

.game-score {
  top: 50%;
  right: 40px;

  transform: translate(-50%, -50%);
}
