// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.game-item {
  height: 150px;
  // border: 2px solid #4B33FF;
  font-size: 19px;
  font-family: 'Plain-Black';
  background-color: #FFFFFF;
  color: #001011;
  margin-top: 32px;
  box-shadow: 8px 8px 0px #4B33FF;
  transition: 0.3s;
}


.game-item:hover {
  box-shadow: 12px 12px 0px #4B33FF;
}

.game-score {
  top: 50%;
  right: 40px;

  transform: translate(-50%, -50%);
}
